.root {
    font-size: 20px;
    line-height: 20px;
    transition: opacity 0.3s ease;
    opacity: 1;
    cursor: pointer;
    border-radius: 6px;
    padding: 0;
    border: 0;
}

.root:hover {
    opacity: 0.8;
}

.Button {}