.root {
    height: 100px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    color: black;
    /*outline: none;*/
    box-sizing: border-box;
    resize: none;
}

.TextArea {}